@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

a:visited {
    color: blue;
}

.spinner {
    width: 65px;
    margin-left: 50px;
}

.hidden {
    display: none;
}

.pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-details {
    display: inline-block;
    justify-content: center;
}

figure {
    width: 300px;
    background-color: rgb(142, 204, 255);
    padding: 50px;
    border-radius: 25px;

}

figcaption {
    font-size: 28px;
    font-weight: 600;
    color: black;
}

li {
    list-style: none;
    margin: 10px;
}

.ability-name {
    color: red;
    font-weight: 600;
}

img {
    padding: 25px;
}

